<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.tasks.ui.repositories">
      <connectorCore
            class="org.eclipse.mylyn.github.ui.internal.RepositoryConnector"
            name="%org.eclipse.mylyn.github.ui.internal.RepositoryConnector">
      </connectorCore>
      <connectorUi
            class="org.eclipse.mylyn.github.ui.internal.RepositoryConnectorUI"
            name="%org.eclipse.mylyn.github.ui.internal.RepositoryConnectorUI">
      </connectorUi>
   </extension>

</plugin>
