<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.2"?>

<target name="org.eclipse.mylyn.github standard target platform">

   <location path="C:\Projekte\Targets\eclipse-platform-3.5"/>

   <content useAllPlugins="true">
      <plugins>
      </plugins>
      <features>
      </features>
      <extraLocations>
         <location path="C:\Projekte\Targets\mylyn-3.2.1"/>
      </extraLocations>
   </content>

</target>
